@font-family-base {
    font-family: 'peace_chenmedium';
    src: url('./font/peace_chen-webfont.woff2') format('woff2'),
         url('./font/peace_chen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.font-custom{
	font-family: 'peace_chenmedium';
}
