<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<title>Pop World - Rutgers University</title>
	
	<link rel="stylesheet" type="text/css" href="./css/clear.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="./css/template.css" media="screen"/>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">POP WORLD</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">GALLERY</a></li>
			<li><a href="#">Search Bar</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="/register">REGISTER</a></li>
			<li><a href="/logout">LOG OUT</a></li>
		</ul>
	</nav>



</body>
</html>
