<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>
</head>
<body>
	<% for(var i in messages) { %>
		<div class="flash">
			<%= messages[i] %>
		</div>
	<% } %>

	<div class="container">

	</div>

</body>
</html>
